.highliteGreen {
    background-color: #64E564;
}

.highliteYellow {
    background-color: yellow;
}

input {
    text-align: center;
    margin-left:45%;
}

.renderedStats {
    text-align: center;
    margin-bottom: 5px;
}